.separate-main-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    max-width: 600px;
    box-shadow: 0 0.5px 0 0 rgba(119, 119, 119, 0.3);
}

.separate-picture {
    width: 140px;
    height: 200px;
    border-radius: 10px;
}

.separate-priview-info {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.location {
    display: flex;
    align-items: center;
}

.locationIcon {
    width: 10px;
    margin-right: 8px;
}

.separate-location {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-right: 8px;
}

.googleMapsLink {
    font-family: "Monaco", sans-serif;
    color: gray;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1.2px solid gray ;
    transition: all ease-in-out 0.4s;
}

.googleMapsLink:hover {
    opacity: 0.7;
}

.separate-title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    margin-top: 3px;
    font-size: 28.5px;
    letter-spacing: -0.5px;
}

.separate-dates {
    margin-top: 13px;
    font-size: 11.4px;
    font-weight: 600;
}

.separate-description {   
    margin-top: 0;
    font-size: 11.5px;
    letter-spacing: -0.1px;
}