body {
    margin: 0%;
    background-color: rgb(203, 203, 203);
}

.header {
    background-color: greenyellow;
    padding: 5px;
    margin: 0px;
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px solid black;
    margin-bottom: 50px;
}

.input {
    text-align: center;
    background-color: greenyellow;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 1cm;
    padding-top: 0.6cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid black;
    border-radius: 20pt;
}

.input .input-element {
    font-size: 40px;
    padding-left: 3cm;
    padding-right: 3cm;
}

.input #start {
    border-radius: 6px;
    margin-left: 12pt;
    height: 20pt;
    margin-right: 0.4cm;
    transition: 0.3s all ease-in-out;
}

.input #start:hover {
    background-color: rgb(93, 93, 93);
    color: white;
}

.input #end {
    border-radius: 6px;
    margin-left: 3.4cm;
    height: 20pt;
    transition: 0.3s all ease-in-out;
}

.input #end:hover {
    background-color: rgb(84, 84, 84);
    color: white;
}

#count {
    position: relative;
    width: 3cm;
    height: 0.5cm;
}

#count:hover {
    color: white;
    background-color: black;
}

.input p {
    font-size: x-large;
}

.generator {
    text-align: center;
    padding-top: 1cm;
}

.generator #generateBtn {
    width: 200px;
    height: 40px;
    background-color: greenyellow;
    border: 2px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    transition: 0.5s all ease-in-out;
    border-radius: 13px;
}

.generator #generateBtn:hover {
    background: #000;
    color: greenyellow;
    border-color: greenyellow;
}

.result {
    background-color: greenyellow;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 100px;
    padding-top: 0.7cm;
    padding-bottom: 0.7cm;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    text-align: center;
    border: 2px solid black;
    border-radius: 15pt;
}

.result p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

.result #resultLabel {
    text-align: center;
    font-size: larger;
}