.title-section {
    margin-top: 60px;
    margin-left: 30px;
}

.title {
    color: white;
    font-size: 39px;
    font-weight: bold;
    letter-spacing: -0.05em;
}

.list-section {
    margin-top: 40px;
    margin-left: 45px;
    max-width: 450px;
}


.list-section li {
    color: white;
    font-size: 18px;
    margin-top: 15px;
    
}

.list-section li::marker {
    font-size: 1.4rem;
    color: rgb(39, 229, 243);
}

.static-react-logo {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    width: 150px;
}
