.meme-body {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: fit-content;
    margin-top: 40px;
    align-items: center;
}


.meme-input-box {
    
    margin-left: 10px;
    margin-right: 10px;
    width: 270px;
    min-height: 35px;
    border-radius: 7px;
    border: 1.4px solid rgb(157, 157, 157);
    font-size: 17px;
    padding-left: 14px;
    transition: all ease-in-out 0.5s;
}

.meme-input-box:hover {
    border: 1.4px solid rgb(4, 4, 4);
}

.meme-generate {
    margin: auto;
}

.generateBtn {
    margin: 0;
    margin-top: 15px;
    padding: 1px 0;
    width: 594px;
    background-color: #520563;
    color: white;
    height: 44px;
    font-size: 17px;
    border-radius: 7px;
    border: 0;
    transition: all ease-in-out 0.4s;
}

.generateBtn:hover {
    cursor: pointer;
    background-color: #891fa1;
}

.generateBtn:hover:active {
    cursor: grabbing;
}

.meme {
    position: relative;
    text-align: center;
}

.meme--image {
    max-width: 100%;
    border-radius: 3px;
    margin-top: 20px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {   
    bottom: 0;
}

.top {
    top: 10px;
}

