.counter-section {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: gold;
    padding-top: 2%;
    padding-bottom: 3%;
    border: 5px solid black;
    border-radius: 20pt;
}

.counter-section #counter {
    font-size: 50pt;
}

.counter-button {
    font-size: large;
    border: 2pt solid black;
    border-radius: 3pt;
    color: white;
    background-color: black;
}