body {
    margin: 0;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}

.cards-list {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}