.main-container {

}

.info {
    background-color: #21222A;
    width: 50%;
    margin: auto;
}

.profile-picture {
    width: 50%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    clip-path: inset(0 0 45px 0);
    margin-bottom: -55px;
}

.name {
    margin-top: 0;
    padding-top: 19px;
    color: white;
    font-size: 19px;
    margin-bottom: 3px;
}

.position {
    font-size: 13px;
    margin-top: 0px;
    color: white;
    margin-bottom: 10px;
}

.website {
    color: white;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}

.website:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(218, 218, 218);
}

.connections-section {
    display: flex;
    justify-content: center;
}

.connectionsButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 90px;
    padding-top: 6px;
    padding-bottom: 4px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 0;
    font-size: 13px;
    transition: all ease-in-out 0.3s;
}

.icon {
    width: 13px;
    margin-right: 5px;
}

.connectionsButton#linkedin-btn {
    background-color: rgb(11, 136, 231);
    text-decoration: none;
    color: white;
}

.connectionsButton#linkedin-btn:hover {
    cursor: pointer;
    opacity: 0.8;
    margin-top: 11px;
    margin-bottom: 14px;
    
}

.connectionsButton#email-btn {
    background-color: white;
}

.connectionsButton#email-btn:hover {
    cursor: pointer;
    opacity: 0.8;
    margin-top: 11px;
    margin-bottom: 14px;
}

.about {
    text-align: left;
}

.information-section {
    margin: auto;
    width: 80%;
    padding-bottom: 10px;
}

.section-title {
    color: white;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 0;
}

.section-text {
    font-size: 10px;
    color: white;
    margin-top: 5px;
}

.interests {
    text-align: left;
}

.social-medias {
    margin: auto; 
    display: flexbox;
    background-color: #19191e;
    display: flexbox;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}

.social-media-icon {
    width: 25px;
    margin-right: 8px;
    margin-left: 8px;
    fill: white;
    opacity: 0.6;
    transition: all ease-in-out 0.3s;
}

.social-media-icon:hover {
    cursor: pointer;
    opacity: 1;
}
