body {
    margin: 0;
    height: 100%;
    padding: 0;
}

.header {
    padding-top: 8px;
    padding-bottom: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.navBar {
    display: flex;
    justify-content: space-between;
}

.nav-items {
    position: relative;
    list-style: none;
    display: flex;
    gap: 30px;
    right: 20px;
}

.logo {
    width: 60px;
}

.mainContent {
    
}

.footer {
    background-color: rgb(82, 82, 82);
    color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 20px;
    padding-left: 20px;
    clear: both;
    position: relative;
    top: 117px;
}
